<script>
var Application = (function(){
    _config = {
        urlBase : 'http://localhost:3000'
    };
    _services = {

    };
    _usuario={}
    return{
        getUrlBase: function(){
            return _config.urlBase;
        },

        getConfig: function(){
            return _config;
        },

        getServices: function(){
            return _services;
        },

        getUsuario: function(){
            return _usuario;
        },

        setUsuario: function(usuario){
            _usuario = usuario;
        }
    }
}());
</script>